version: '3.9'

services:
  app:
    build: .
    ports:
      - "8000:8000"
    environment:
      - SPOTIFY_CLIENT_ID=
      - SPOTIFY_CLIENT_SECRET=
      - DATABASE_URL=sqlite:///./app.db
    volumes:
      - ./app:/app
